# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
#/vendor

/yii.bat
/yii
/receptury (15).sql
/receptury (14).sql
/config/db.php
/vendor/dompdf/lib/fonts/log.htm
/Znakowanie produktu cz. III.(1)A.jpg
/Znakowanie produktu cz. IIIB.jpg
/Nowe-wymagania-dotyczące-znakowania-ważne-od-13-grudnia-2014-r.-Rozporządzenie-nr-1169-2011.pdf
/Znakowanie produktu cz. II(1)G.jpg
/Znakowanie produktu cz. II..jpg
/ulotka 2z2.pdf
/Znakowanie produktu, cz. ICD.jpg
/Znakowanie produktu cz. I.(1)F.jpg
/2011-1169_pl_znakowanie.pdf
/Znakowanie produktu cz. I(1)E.jpg
/Dyrektywa1169_2011_opis.odt
/ulotka 1z2.pdf
# composer itself is not needed
#composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml
